@import "./mixin";

.second-area-wrap {
  padding: 0 11.5% 10%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  .second-left {
    width: 40%;
    margin-top: 5.5vw;
    padding-left: 10%;
    padding-top: 6vw;
    position: sticky;
    top: 10%;
    .section-01 {
      // height: 100%;
      position: absolute;
      top: 16%;
      left: -12%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      .section-number {
        font-size: 4vw;
        font-weight: 700;
        position: static;
        background-color: #fff;
        z-index: 1;
      }
      .section-title {
        position: relative;
        transform: rotateZ(270deg);
        font-size: 1.6vw;
        font-weight: 400;
      }
    }
    .my-photo {
      position: relative;
      z-index: 2;
      img {
        width: 100%;
        filter: brightness(90%);
      }
      .my-sign {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(100%, 100%);
        scale: 0.3;
      }
    }
  }
  .second-right {
    width: 60%;
    margin-bottom: 7%;
    padding: 2.5% 0 5% 5%;
    transform: translateY(15%);
    h3 {
      font-size: 2vw;
      font-weight: 500;
    }
    .about-intro {
      margin-bottom: 3vw;
      .intro-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .intro-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 2vw;
          transform: translateY(-10%);
          img {
            width: 4vw;
          }
          span {
            font-size: 1.2vw;
            margin-top: 0.25vw;
          }
        }
        p {
          // text-align: right;
          text-align: left;
          font-size: 1.6vw;
          line-height: 2vw;
          // font-size: 1.4vw;
          // line-height: 2vw;
        }
      }
      .intro-main {
        margin-top: 0.9vw;
        text-align: left;
        font-size: 0.9vw;
        line-height: 1.5vw;
        color: #555;
      }
    }
    .about-skill {
      h3 {
        text-align: left;
        margin-bottom: 0.7vw;
      }
      .second-right-items {
        margin-bottom: 3vw;
        li {
          margin-bottom: 0.2vw;
          border-radius: 16px;
          padding: 0.4vw;
          transform: translateX(-0.4vw);
          color: #555;
          &::before,
          &::after {
            z-index: 99;
          }
          &:hover::before {
            content: "";
            display: none;
            width: 0;
            height: 0;
            border-bottom: 0.5vw solid black;
            border-top: 0.5vw solid transparent;
            border-left: 0.5vw solid transparent;
            border-right: 0.5vw solid transparent;
            border-radius: 1.2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-100%, 100%);
          }
          &:hover:after {
            content: attr(data-tooltip);
            display: none;
            text-align: center;
            background-color: #000;
            color: #fff;
            padding: 0.25vw 0.6vw;
            white-space: nowrap;
            font-size: 0.5vw;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-55%, 130%);
            border-radius: 40px;
            text-transform: capitalize;
          }
          figure {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
              width: 2vw;
              margin: 0 1vw 0 0;
            }
            figcaption {
              text-align: left;
              font-size: 0.9vw;
              &::after {
                display: inline-block;
                content: "";
                width: 0;
                height: 0;
                border-bottom: 0.4vw solid transparent;
                border-top: 0.4vw solid transparent;
                border-left: 0.5vw solid transparent;
                border-right: 0.6vw solid transparent;
                border-radius: 1.2px;
                transition: 0.25s;
              }
            }
          }
        }
        .html,
        .css {
          img {
            scale: 1.3;
          }
        }
        .vue {
          img {
            scale: 1.7;
          }
        }
        .git {
          img {
            scale: 1.2;
          }
        }
        .html:hover > figure > figcaption::after {
          border-right-color: rgba(230, 81, 0, 0.8);
          // background-color: rgba(230, 81, 0, 0.01);
          // box-shadow: 5px 5px 8px rgba(230, 81, 0, 0.3);
        }
        .css:hover > figure > figcaption::after,
        .typescript:hover > figure > figcaption::after {
          border-right-color: rgba(2, 119, 189, 0.8);
          // background-color: rgba(192, 230, 248, 0.08);
          // box-shadow: 5px 5px 8px rgba(192, 230, 248, 0.9);
        }
        .javascript:hover > figure > figcaption::after {
          // border-right-color: rgba(247, 223, 30, 1);
          border-right-color: rgba(250, 200, 17, 1);
          // background-color: rgba(247, 223, 30, 0.01);
          // box-shadow: 5px 5px 8px rgba(247, 223, 30, 0.4);
        }
        .react:hover > figure > figcaption::after {
          border-right-color: rgba(97, 218, 251, 0.9);
          //   background-color: rgba(97, 218, 251, 0.01);
          //   box-shadow: 5px 5px 8px rgba(97, 218, 251, 0.3);
        }
        .next:hover > figure > figcaption::after,
        .git:hover > figure > figcaption::after {
          border-right-color: rgba(0, 0, 0, 0.6);
          //   background-color: rgba(0, 0, 0, 0.01);
          //   box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
        }
        .vue:hover > figure > figcaption::after {
          border-right-color: rgba(65, 184, 131, 0.8);
          //   background-color: rgba(65, 184, 131, 0.01);
          //   box-shadow: 5px 5px 8px rgba(65, 184, 131, 0.3);
        }
      }
      .second-right-used {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        li {
          padding: 0.4vw;
          position: relative;
          opacity: 0.6;
          // transition: 0.3s;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            opacity: 1;
            box-shadow: 0.2px 0.2px 35px rgba(0, 0, 0, 0.2);
          }
          &::before,
          &::after {
            z-index: 99;
          }
          &:hover::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-bottom: 0.3vw solid black;
            border-top: 0.3vw solid transparent;
            border-left: 0.3vw solid transparent;
            border-right: 0.3vw solid transparent;
            border-radius: 1.2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 70%);
            // transition: 0.5s;
            // img????
          }
          &:hover:after {
            content: attr(data-tooltip);
            display: block;
            text-align: center;
            background-color: #000;
            color: #fff;
            padding: 0.25vw 0.6vw;
            white-space: nowrap;
            font-size: 0.5vw;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 130%);
            border-radius: 40px;
            text-transform: capitalize;
          }
          img {
            width: 2vw;
            height: 2vw;
          }
        }
        .axios > img {
          scale: 1.2;
        }
        .figma,
        .framer,
        .NextAuth {
          img {
            scale: 0.8;
            transform: translateY(5%);
          }
        }
        .netlify,
        .react-query {
          img {
            scale: 0.9;
          }
        }
        .express,
        .jQuery,
        .swiper {
          img {
            scale: 0.83;
          }
        }
        .react-router,
        .redux {
          img {
            scale: 0.9;
            transform: translateY(-5%);
          }
        }
      }
    }
  }
}

// 데스크탑 1800 ~
@include desktop {
}

// 노트북에서 데스크탑 1500 ~ 1799
@include desktopToLaptop {
}

// 1280 ~ 1499
@include laptopLarge {
}

// 노트북 1024 ~ 1279
@include laptop {
}

// 태블릿에서 노트북 960 ~ 1023
@include laptopToTablet {
}

// 태블릿 720 ~ 959
@include tablet {
  .second-area-wrap {
    .second-right {
      .about-intro {
        .intro-main {
          line-height: 1.7vw;
        }
      }
    }
  }
}

// 모바일에서 태블릿 535 ~ 719
@include tabletToMobile {
  .second-area-wrap {
    .second-right {
      .about-intro {
        .intro-main {
          line-height: 1.9vw;
        }
      }
    }
  }
}

// 모바일 320 ~ 534
@include mobile {
  .second-area-wrap {
    .second-left{
      width: 30%;
      .my-photo {
        .my-sign {
          transform: translate(100%, 50%);
        }
      }
    }
    .second-right {
      width: 70%;
      .about-intro {
        .intro-first {
          margin-bottom: 4vw;
          p {
          font-size: 2.8vw;
          line-height: 3.2vw;
          white-space: nowrap;
          }
          img {
            display: none;
          }
        }
        .intro-main {
          line-height: 2.8vw;
          opacity: 0.7;
        }
      }
      .about-skill {
        .second-right-items {
          display: flex;
          li {
            &:hover::before {
              display: block;
            }
            &:hover::after {
              display: block;
            }
            figure {
              img {
                width: 4vw;
              }
              figcaption {
                display: none;
              }
            }
          }
        }
        .second-right-used {
          li {
            &::before {
              border: 0.5vw;
              //   transform: translateY(110%);
              padding-bottom: 2%;
              scale: 1.9;
            }
            img {
              width: 4vw;
              height: 4vw;
            }
          }
        }
      }
    }
  }
}
